$logo-color: #FFD300;

.dash {
  display: flex;
  min-height: 100vh;
}

.dash-app {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin-top: 84px;
  margin-left: 218px;
}

.dash-content {
  background: #E9EDF4;
  flex-grow: 2;
  padding: 47px;
}

