$logo-color: #FFD300;

.dash {
  display: flex;
  min-height: 100vh;
}

.dash-app {
  display: flex;
  flex-direction: column;
  flex-grow: 2;

  margin-top: 84px;

  @include media-breakpoint-up(lg) {
    margin-left: 218px;

    .dash-compact & {
      margin-left: 0;
    }
  }
}

.dash-content {
  background: #E9EDF4;
  flex-grow: 2;
  padding: 25px;

  @include media-breakpoint-down(sm) {
    padding: 15px 0px;
  }


  > .container-fluid {
    //padding: 0;
  }
}


.dash-row {
  margin-bottom: 30px;
}
