// Bootstrap variables

$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$body-color: #515151;



// Spur variables
$logo-color: #576177;
$toolbar-bg: #F3F3F3;

$dash-nav-dark-color: #fff;
$dash-nav-dark-hover-bg: rgba(#fff, .04);
$dash-nav-dark-bg: #181F2C;

