{% extends "html/templates/base.html" %}

{% block main %}

<div class="dash dash-compact">
    <div class="dash-nav dash-nav-dark">
        {% include "html/snippets/navigation.html" %}
    </div>

    <div class="dash-app">
        <header class="dash-toolbar">
            {% include "html/snippets/toolbar.html" %}
        </header>

        <main class="dash-content">
            {%block content %}
            <h1>Content Area</h1>
            {% endblock %}
        </main>
    </div>
</div>

{% endblock %}
