{% extends '../card.html' %}

{% block menu %}{% endblock %}
{% block title %}Social Buttons{% endblock %}
{% block body %}
<h4 class="">Social Buttons</h4>

<div>

  <a href="{{globals.github}}" target="_blank" class="btn btn-dark mb-1">
      <i class="fab fa-github mr-2"></i> Sign in with GitHub
  </a>

  <a href="#!" target="_blank" class="btn btn-primary mb-1">
      <i class="fab fa-facebook mr-2"></i> Sign in with Facebook
  </a>

  <a href="#!" target="_blank" class="btn btn-primary mb-1">
      <i class="fab fa-facebook mr-2"></i> Sign in with Twitter
  </a>

  <a href="#!" target="_blank" class="btn btn-primary mb-1">
      <i class="fab fa-google mr-2"></i> Sign in with Google
  </a>

  <a href="#!" target="_blank" class="btn btn-primary mb-1">
      <i class="fab fa-vk mr-2"></i> Sign in with VK
  </a>

  <a href="#!" target="_blank" class="btn btn-primary mb-1">
      <i class="fab fa-instagram mr-2"></i> Sign in with Instagram
  </a>

</div>

{% endblock %}
