{% extends '../card.html' %}

{% block menu %}{% endblock %}
{% block title %}Icon Buttons{% endblock %}
{% block body %}
<div>
    <a href="#!" class="btn btn-primary mb-1"> <i class="fas fa-plus"></i> </a>
    <a href="#!" class="btn btn-secondary mb-1"> <i class="fas fa-list"></i> </a>
    <a href="#!" class="btn btn-success mb-1"> <i class="fas fa-check"></i> </a>
    <a href="#!" class="btn btn-danger mb-1"> <i class="fas fa-heart"></i> </a>
    <a href="#!" class="btn btn-warning mb-1"> <i class="fas fa-link"></i> </a>
    <a href="#!" class="btn btn-info mb-1"> <i class="fas fa-file"></i> </a>
    <a href="#!" class="btn btn-light mb-1"> <i class="fas fa-play"></i> </a>
    <a href="#!" class="btn btn-dark mb-1"> <i class="fas fa-bell"></i> </a>
</div>

<div class="mt-3">
    <a href="#!" class="btn btn-primary btn-lg mb-1"> <i class="fas fa-plus"></i> </a>
    <a href="#!" class="btn btn-secondary btn-lg mb-1"> <i class="fas fa-list"></i> </a>
    <a href="#!" class="btn btn-success btn-lg mb-1"> <i class="fas fa-check"></i> </a>
    <a href="#!" class="btn btn-danger btn-lg mb-1"> <i class="fas fa-heart"></i> </a>
    <a href="#!" class="btn btn-warning btn-lg mb-1"> <i class="fas fa-link"></i> </a>
    <a href="#!" class="btn btn-info btn-lg mb-1"> <i class="fas fa-file"></i> </a>
    <a href="#!" class="btn btn-light btn-lg mb-1"> <i class="fas fa-play"></i> </a>
    <a href="#!" class="btn btn-dark btn-lg mb-1"> <i class="fas fa-bell"></i> </a>
</div>

{% endblock %}
