{% macro navItem(id, url)%}
<a href="{{url}}" class="dash-nav-item {% if page_id == id %} active{% endif %}">{{url}}</a>
{% endmacro %}

<header>
    <a href="#!" class="menu-toggle">
        <i class="fas fa-bars"></i>
    </a>
    <a href="index.html" class="spur-logo"><i class="fas fa-bolt"></i> <span>Spur</span></a>
</header>

<nav class="dash-nav-list">
    <a href="index.html" class="dash-nav-item">
        <i class="fas fa-home"></i>
        Dashboard
    </a>

    <div class="dash-nav-dropdown{% if group_id == 'charts' %} show{%endif%}">
        <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
            <i class="fas fa-chart-bar"></i>
            Charts
        </a>

        <div class="dash-nav-dropdown-menu">
            <a href="chartjs.html" class="dash-nav-dropdown-item">Chart.js</a>
        </div>
    </div>

    <div class="dash-nav-dropdown {% if group_id == 'components' %} show{%endif%}">
        <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
            <i class="fas fa-cube"></i>
            Components
        </a>

        <div class="dash-nav-dropdown-menu">
            <a href="cards.html" class="dash-nav-dropdown-item">Cards</a>
            <a href="forms.html" class="dash-nav-dropdown-item">Forms</a>
            <div class="dash-nav-dropdown {% if subgroup_id == 'icons' %} show{%endif%}">
                <a href="#!" class="dash-nav-dropdown-item dash-nav-dropdown-toggle">Icons</a>

                <div class="dash-nav-dropdown-menu">
                    <a href="icons.html" class="dash-nav-dropdown-item">Solid Icons</a>
                    <a href="icons.html#regular-icons" class="dash-nav-dropdown-item">Regular Icons</a>
                    <a href="icons.html#brand-icons" class="dash-nav-dropdown-item">Brand Icons</a>
                </div>
            </div>
            <a href="stats.html" class="dash-nav-dropdown-item">Stats</a>
            <a href="tables.html" class="dash-nav-dropdown-item">Tables</a>
            <a href="typography.html" class="dash-nav-dropdown-item">Typography</a>
            <a href="userinterface.html" class="dash-nav-dropdown-item">User Interface</a>

        </div>
    </div>

    <div class="dash-nav-dropdown{% if group_id == 'layouts' %} show{%endif%}">
        <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
            <i class="fas fa-file"></i>
            Layouts
        </a>

        <div class="dash-nav-dropdown-menu">
            <a href="content.html" class="dash-nav-dropdown-item">Content</a>
            <a href="login.html" class="dash-nav-dropdown-item">Log in</a>
            <a href="signup.html" class="dash-nav-dropdown-item">Sign up</a>
        </div>
    </div>

    <div class="dash-nav-dropdown">
        <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
            <i class="fas fa-info"></i>
            About
        </a>

        <div class="dash-nav-dropdown-menu">
            <a href="{{globals.github}}" target="_blank" class="dash-nav-dropdown-item">GitHub</a>
            <a href="http://hackerthemes.com" target="_blank" class="dash-nav-dropdown-item">HackerThemes</a>
        </div>
    </div>
</nav>
<!--<nav class="dash-nav-list">-->
    <!--{{navItem("index", "index.html")}}-->
    <!--{{navItem("dashboard", "dashboard.html")}}-->
    <!--{{navItem("content", "content.html")}}-->
<!--</nav>-->
