{% extends './widget.html' %}

{% block menu %}{% endblock %}
{% block title %}Icon Buttons{% endblock %}
{% block body %}
<h4>Icon Buttons</h4>

<a href="#!" class="btn btn-primary"> <i class="fas fa-plus"></i> </a>
<a href="#!" class="btn btn-secondary"> <i class="fas fa-list"></i> </a>
<a href="#!" class="btn btn-success"> <i class="fas fa-check"></i> </a>
<a href="#!" class="btn btn-danger"> <i class="fas fa-heart"></i> </a>
<a href="#!" class="btn btn-warning"> <i class="fas fa-link"></i> </a>
<a href="#!" class="btn btn-info"> <i class="fas fa-file"></i> </a>
<a href="#!" class="btn btn-light"> <i class="fas fa-play"></i> </a>
<a href="#!" class="btn btn-dark"> <i class="fas fa-bell"></i> </a>

<h4 class="mt-4">Large Icon Buttons</h4>

<a href="#!" class="btn btn-primary btn-lg"> <i class="fas fa-plus"></i> </a>
<a href="#!" class="btn btn-secondary btn-lg"> <i class="fas fa-list"></i> </a>
<a href="#!" class="btn btn-success btn-lg"> <i class="fas fa-check"></i> </a>
<a href="#!" class="btn btn-danger btn-lg"> <i class="fas fa-heart"></i> </a>
<a href="#!" class="btn btn-warning btn-lg"> <i class="fas fa-link"></i> </a>
<a href="#!" class="btn btn-info btn-lg"> <i class="fas fa-file"></i> </a>
<a href="#!" class="btn btn-light btn-lg"> <i class="fas fa-play"></i> </a>
<a href="#!" class="btn btn-dark btn-lg"> <i class="fas fa-bell"></i> </a>


{% endblock %}
