<div class="widget">
    <div class="widget-head">
        <div class="widget-icon">
            {% block icon %}<i class="fas fa-chart-bar"></i>{% endblock %}
        </div>
        <div class="widget-title">
            {% block title %}Ricksaw Chart{% endblock %}
        </div>

        {% block menu %}
        <div class="widget-menu">

            <div class="dropdown show">
                <a class="widget-menu-link"
                   href="#"
                   role="button"
                   id="dropdownMenuLink"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                </a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>

        </div>
        {% endblock %}
    </div>
    <div class="widget-body {% block bodyClass %}{% endblock %}">
        {% block body %}
        hello I'm a widget
        {% endblock %}
    </div>
</div>
