{% extends './widget.html' %}

{% block menu %}{% endblock %}
{% block title %}Two bars{% endblock %}
{% block bodyClass %}widget-body-chart{% endblock %}
{% block body %}
<canvas id="spurChartjsTwoBars"></canvas>
<script>
var ctx = document.getElementById("spurChartjsTwoBars").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
        datasets: [{
            label: 'Blue',
            data: [12, 19, 3, 5, 2],
            backgroundColor: window.chartColors.primary,
            borderColor: 'transparent'
        }, {
            label: 'Red',
            data: [4, 12, 11, 2, 14],
            backgroundColor: window.chartColors.danger,
            borderColor: 'transparent'
        }]
    },
    options: {
        legend: {
            display: false
        },
        scales: {

            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>

{% endblock %}
