{% extends "html/_layouts/dashboard.html" %}

{% block content %}
<div class="row dash-row">
    <div class="col-xl-4">
        {% include "html/_includes/stats/stats-signups.html" %}
    </div>

    <div class="col-xl-4">
        {% include "html/_includes/stats/stats.html" %}
    </div>

    <div class="col-xl-4">
        {% include "html/_includes/stats/stats-tickets.html" %}
    </div>
</div>

<div class="row">
    <div class="col-xl-6">
        {% include "html/_includes/cards/chart.js/bar.html" %}
    </div>

    <div class="col-xl-6">
        {% include "html/_includes/cards/misc/notifications.html" %}
    </div>
</div>

{% endblock %}
