{% extends "html/templates/dashboard.html" %}

{% block content %}
<div class="row dash-row">
    <div class="col-xl-4">
        {% include "html/includes/stats/stats-signups.html" %}
    </div>

    <div class="col-xl-4">
        {% include "html/includes/stats/stats.html" %}
    </div>

    <div class="col-xl-4">
        {% include "html/includes/stats/stats-tickets.html" %}
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        {% include "html/includes/widget/widget.html" %}
    </div>
</div>

{% endblock %}
