{% extends "html/templates/base.html" %}

{% block main %}

<div class="form-screen">
    <a href="index.html" class="spur-logo"><i class="fas fa-bolt"></i> <span>Spur</span></a>

    <div class="card account-dialog">
        <div class="card-header bg-primary text-white">
            Create an account
        </div>

        <div class="card-body">
            <form action="#!">
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>

                <div class="account-dialog-actions">
                    <button type="submit" class="btn btn-primary">Sign up</button>
                    <a class="account-dialog-link" href="login.html">Already have an account?</a>
                </div>
            </form>
        </div>
    </div>


</div>
{% endblock %}
