{% extends "html/templates/dashboard.html" %}
{% set page_id = "typography" %}
{% set group_id = "components" %}

{% block content %}

<h1 class="dash-title">Typography</h1>

<div class="row">
    <div class="col-xl-6">
        <div class="card spur-card">
            <div class="card-header">
                <div class="spur-card-icon">
                    <i class="fas fa-chart-bar"></i>
                </div>
                <div class="spur-card-title">Content</div>
            </div>
            <div class="card-body">
                <h3>A heading</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto, atque dignissimos distinctio ea earum eos explicabo officiis praesentium, quo rem, tempora totam? Alias assumenda, blanditiis dicta earum maxime qui!</p>

                <ol>
                    <li>Hello</li>
                    <li>This</li>
                    <li>Is an ordered</li>
                    <li>List</li>
                </ol>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae deleniti distinctio doloremque fugit ipsa ipsum, itaque labore magni necessitatibus nemo optio perspiciatis quasi quibusdam rerum sit sunt vel velit voluptatum!
                </p>

                <ul>
                    <li>Hello</li>
                    <li>This</li>
                    <li>Is an unordered</li>
                    <li>List</li>
                </ul>


                <p><a href="#!">A link that does nothing</a></p>
            </div>
        </div>
        <div class="card spur-card">
            <div class="card-header">
                <div class="spur-card-icon">
                    <i class="fas fa-chart-bar"></i>
                </div>
                <div class="spur-card-title">
                    Quote
                </div>
            </div>
            <div class="card-body">
                <blockquote class="blockquote">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
            </div>
        </div>


    </div>
    <div class="col-xl-6">
        <div class="card spur-card">
            <div class="card-header">
                <div class="spur-card-icon">
                    <i class="fas fa-chart-bar"></i>
                </div>
                <div class="spur-card-title">
                    Headlines
                </div>
            </div>
            <div class="card-body">
                <h1>h1. Bootstrap heading</h1>
                <h2>h2. Bootstrap heading</h2>
                <h3>h3. Bootstrap heading</h3>
                <h4>h4. Bootstrap heading</h4>
                <h5>h5. Bootstrap heading</h5>
                <h6>h6. Bootstrap heading</h6>
            </div>
        </div>

        <div class="card spur-card">
            <div class="card-header">
                <div class="spur-card-icon">
                    <i class="fas fa-chart-bar"></i>
                </div>
                <div class="spur-card-title">
                    Utilities
                </div>
            </div>
            <div class="card-body">
                <p>You can use the mark tag to <mark>highlight</mark> text.</p>
                <p><del>This line of text is meant to be treated as deleted text.</del></p>
                <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
                <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
                <p><u>This line of text will render as underlined</u></p>
                <p><small>This line of text is meant to be treated as fine print.</small></p>
                <p><strong>This line rendered as bold text.</strong></p>
                <p><em>This line rendered as italicized text.</em></p>
            </div>
        </div>
    </div>
</div>


{% endblock %}
